
*{
	font-size: 10px;
}

p {
	text-align: justify;
}

.content-left {
	margin: 60px 10% 0px 10%;
}

.content-right {
	margin: 70px 5% 0px 5%;
}

.content-left p {
	line-height: 12px;
}

.story p {
	line-height: 12px;
}

.left {
	padding:0px;
}

.right {
	padding:0px;
}

.left nav {
	background:#fff;
	border-bottom: 1px solid #EAEAEA;
	padding: 10px;
	width:61%;
}

.right nav {
	background:#fff;
	border-bottom: 1px solid #EAEAEA;
	padding: 11.5px;
	width:34%;
	right:0px;
	text-align: right;
	}

.circle {
	text-align: right;
	right:0px;
}
